﻿@{
    ViewData["Title"] = "Home Page";
}

<section class="jumbotron text-center">
    <div class="container">
        <h1>Purity Drip & Mixpanel Integration</h1>
        <p class="lead text-muted">
            Some description here
        </p>
    </div>
</section>
