﻿@model Web.Models.RuleListViewModel

<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Drip Event</th>
                <th scope="col">Mixpanel Event</th>
                <th scope="col">Drip Field</th>
                <th scope="col">Mixpanel Field</th>
            </tr>
        </thead>
        <tbody>
        @for (var i = 0; i < Model.Rules.Count; i++)
        {
            var rule = Model.Rules[i];
            var firstRowPrinted = false;

            foreach (var field in rule.Fields)
            {
            <tr>
                <td>@(firstRowPrinted ? "" : i.ToString())</td>
                <td>@(firstRowPrinted ? "" : rule.DripEventName)</td>
                <td>@(firstRowPrinted ? "" : rule.MixPanelEventName)</td>
                <td>@field.DripFieldPath</td>
                <td>@field.MixPanelFieldName</td>
            </tr>

                if (!firstRowPrinted)
                {
                    firstRowPrinted = true;
                }
            }
        }

        </tbody>
    </table>
</div>